%p Verkaufte Teile...

%ul
  %li= link_to "...pro Groesse", analysis_size_url
  %li= link_to "...pro Color", analysis_color_url
  %li= link_to "...pro Material", analysis_fabric_url
  %li= link_to "...pro Zeitraum", analysis_collection_url
