#settings_tabs
  %ul.nav.nav-tabs
    %li= link_to t('.user_management'), '#user_management', 'data-toggle' => "tab"
    %li= link_to t('.settings'), '#settings', 'data-toggle' => "tab"

  .tab-content
    #user_management.tab-pane.active
      = render :partial => 'users'

    #settings.tab-pane.active
      = simple_form_for :settings, url: settings_path, :method => 'put',
        html: {class:'form-horizontal', id: 'settings'} do |f|
        .row
          .span6

