.row
  .span6
    .well.well-small
      %ul.nav.nav-pills
        -if @client.sales.empty?
          %li= link_to 'Kundin loeschen', @client, :confirm => 'Kundin wirklich endg&uuml;ltig l&ouml;schen?', :method => :delete
  .span6
    .well.well-small
      %ul.nav.nav-pills
        -if @client.role? 'Kundinnen'
          %li= link_to 'Neuer Kauf', new_client_sale_path(@client)

= render 'form'


