.row
  .span5
    .well.well-small
      %ul.nav.nav-pills
        -if @client.sales.empty?
          %li= link_to t('.delete'), @client, :confirm => t('.confirm_delete'), :method => :delete
  .span7
    .well.well-small
      %ul.nav.nav-pills
        -if @client.role? 'Kundinnen'
          %li= link_to t('actions.new_sale'), new_client_sale_path(@client)

= render 'form'


