@font-face
  font-family: 'Viento'
  src: url('fesandisthin.ttf') format('truetype')
  font-weight: normal
  font-style: normal

html, body
  color: black
  font: 21px Viento
  text-decoration:none
  line-height: 24px

h1, th
  text-transform: uppercase

#main
  min-height: 100%

footer
  position: absolute
  bottom: 0

a
  img
    border: none
  color: #0000FF

#flash_notice, #flash_error, #flash_alert
  padding: 5px 8px
  margin: 10px 0
  width: 320px
  position: relative
  top: -20px

#flash_notice
  border: solid 1px green

#flash_error, #flash_alert
  background-color: #FCC
  border: solid 1px orange

.field_with_errors
  display: inline

#error_explanation
  width: 400px
  border: 2px solid #CF0000
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  font-size: 12px
  h2
    text-align: left
    font-weight: bold
    padding: 5px 10px
    font-size: 12px
    margin: 0
    background-color: #c00
    color: #fff
  p
    margin: 8px 10px
  ul
    margin-bottom: 0

form
  .field, .actions
    margin: 12px 0

.navbar
  text-transform: uppercase

#user_nav
  float: right
  text-transform: uppercase

th
  .current_column
    padding-right: 12px
    background-repeat: no-repeat
    background-position: right center
  .asc
    background-image: url(icons/sort_up.png)
  .desc
    background-image: url(icons/sort_down.png)