= form_tag filter_sales_path, :method => 'get', id: 'sales_search', :class => 'form-search' do |f|
  .well.well-small
    %ul.nav.nav-pills
      %li.pull-right
        %label= t('per_page')
        = select_tag 'per_page_filter', options_for_select(per_page_options, per_page), class: 'span1'

  #sales
    = render :partial => 'sales'
